%% -*- mode: erlang;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ts=4 sw=4 ft=erlang et

{erl_opts, [
    {platform_define, "^(18|19|2)", otp_18_plus}
]}.

{cover_enabled, true}.
{cover_print_enabled, true}.
{deps, [
    {envy, ".*",
     {git, "git://github.com/manderson26/envy.git", {branch, "master"}}}
]}.
